@import './partials/_variables.scss'; 

.App {
  text-align: left;
 
}
 
 
.header-container {
  width: 100%;
  clear: both; 
  position: fixed;
  top:0;
  left:0; 
  background-color: $greylight-transparent;  //rgba(255, 255, 255, 0.75);
  box-shadow: $box-shadow;
  z-index: 5; 
  padding: 3vh 7vw ; 
  margin: 0 0 3vh 0; 
}

 .board-container {
  min-height: 70vh;
  height: auto;
  background-color: rgb(238, 232, 232);
  padding: 3vh ; 
  margin: 10vh 0 0 0; 
 }

 .image-full {
   display: inline-block;
   margin: 1vh;
   max-width: 20vw; 
 

 }
 .image-container {
   background-color:pink; 
   margin: 1vh;
   width: 25vw; 
   height: 25vw; 
 }